APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:XcdkrdzRRbdpvzS7AUKY8Ivb6ALJGbDJ5bb6k1bcFeo=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mail.proelean.com
MAIL_PORT=587
MAIL_USERNAME=noreply@proelean.com
MAIL_PASSWORD=NQgCwOZS{gR[
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@proelean.com
MAIL_FROM_NAME="${APP_NAME}"


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


FCM_SERVER_KEY=AAAACZscWGo:APA91bFaEgC97RCJ7cLWT75xnjuBGFe12IfUSNvedfoZjzyEY5tahwSRjpGG94aprnH8EFjx5CIqNE0d3fepm5pHRut6T6xkotvRvbN4Exoduzo8uS594-q7kymeoKq9lAAuTMdLqmtn
STRIPE_SECRET=sk_test_51JjiUJEo1VO7fqooeAqKRmTA8Bld7lqieI3qOxgB6BLjIN4kY8O5vTraJnMwrjYLNIiBFcYgQd2PNzvPCgbpdiGD00GhfJdwxz
STRIPE_PUBLISH_KEY=pk_test_51JjiUJEo1VO7fqooIIFHdo9uVkpnmnG5BkshucX4IxQ9M5A6Z4rRpuBe6B4wZrkAivLQURv0u5891hkqW5y8LAg500wyyLYrYT
STRIPE_WEBHOOK_ENDPOINT_SECRET=whsec_ZLtbDp4KyxRloQSOGrJm09YVdanlRV1V
STRIPE_WEBHOOK_CONNECT_ENDPOINT_SECRET=whsec_eo8keS7Sq8aJWfGGKWvRPd45iczYfJJz