/node_modules
/public/hot
/public/upload
#!storage/app/data
storage/app/public
storage/debugbar
storage/framework
/public/storage/
public/uploads/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode


#EXCLUSIONS
!storage/app/data/*.json
